{{- "alignas({}) ".format(obj.alignment) if obj.alignment -}}
{{ obj.type | insert_name(obj.name) }}
{{- " : {}".format(obj.bit_size) if obj.bit_size is not none -}}
{{- " = {}".format(obj.default_value) if obj.default_value is not none -}}