{%- if obj.template -%}
{%- with obj = obj.template -%}
{% include "template.jinja".format(obj.kind) with context %}
{% endwith -%}
{%- endif -%}
{{- "[[noreturn]] " if obj.noreturn -}}
{{- "virtual " if obj.virtuality -}}
{{- "explicit " if obj.is_explicit -}}
{{- "inline " if obj.is_inline -}}
{{- "static " if obj.is_static -}}
{{- obj.returns ~ " " if obj.returns -}}
{{ obj.name }}(
{%- for parameter in obj.parameters -%}
  {%- if parameter.name != "this" -%}
    {%- if parameter.kind.value == "positional" -%}
      {{ parameter.type | insert_name(parameter.name) }}
    {%- elif parameter.kind.value == "variadic" -%}
      ...
    {%- endif -%}
  {%- if not loop.last -%}, {% endif -%}
  {%- endif -%}
{%- endfor -%}
)
{{- " const" if obj.is_const -}}
{{- " = 0" if obj.virtuality and obj.virtuality.name == "PURE_VIRTUAL" -}}
{{- " = delete" if obj.is_deleted -}}