template<
{%- for parameter in obj.parameters -%}
  {%- if parameter.kind == "type" -%}
    typename{{ " " ~ parameter.name if parameter.name }}{{ " = {}".format(parameter.default) if parameter.default is not none }}
  {%- elif parameter.kind == "constant" -%}
    {{ parameter.type }}{{ " " ~ parameter.name if parameter.name }}{{ " = {}".format(parameter.default) if parameter.default is not none }}
  {%- elif parameter.kind == "pack" -%}
    {{ parameter.type or "typename" }}...{{ " " ~ parameter.name if parameter.name }}
  {%- elif parameter.kind == "template" -%}
    {%- with obj = parameter -%}
    {%- include "template.jinja" with context %} class{{ " " ~ parameter.name if parameter.name }}{{ " = {}".format(parameter.default) if parameter.default is not none }}
    {%- endwith -%}
  {%- endif -%}
  {%- if not loop.last -%}, {% endif -%}
{%- endfor -%}
>
{%- if obj.declaration %}
{% with obj = obj.declaration -%}
  {%- include "{}.jinja".format(obj.kind) with context -%}
{%- endwith -%}
{%- endif -%}