{{- "// " if not obj.declaration -}}
template<
{%- for parameter in obj.parameters -%}
  {%- if parameter.kind == "type" -%}
    typename{{ " " ~ parameter.name if parameter.name }}{{ " = {}".format(parameter.default) if parameter.default is not none }}
  {%- elif parameter.kind == "constant" -%}
    {{ parameter.type }}{{ " " ~ parameter.name if parameter.name }}{{ " = {}".format(parameter.default) if parameter.default is not none }}
  {%- elif parameter.kind == "pack" -%}
    typename...{{ " " ~ parameter.name if parameter.name }}
  {%- elif parameter.kind == "template" -%}
    template<typename> class{{ " " ~ parameter.name if parameter.name }}
  {%- endif -%}
  {%- if not loop.last -%}, {% endif -%}
{%- endfor -%}
>
{% if obj.declaration -%}
{%- with obj = obj.declaration -%}
  {%- include "{}.jinja".format(obj.kind) with context -%}
{%- endwith -%}
{%- endif -%}